* {
    font-size: 16px;
	color: #7E7E7E;
}

window {
	/* border: 2px solid red; */
	background-color: #1e222a;
	padding: 50px;
}

#input {
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #D3D3D3;
	border-radius: 20px;
	margin: 20px 15px;
}

#input:focus,
#input:selected,
#entry:selected,
#entry:focus {
	border-color: transparent;
}

#inner-box {
	margin: 20px;
}

#img {
	margin: 10px 10px;
}

#entry {
	border-radius: 20px;
}

#text:selected {
	color: #F5F6F7;
	font-size: 20px;
}
#img:selected {
	background-color: transparent;
}

#entry:selected {
	background-color: rgba(255, 255, 255, 0.1);
}
